.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 510px;
  border: 1px solid black;
  border-radius: 30px;
  background: linear-gradient(to bottom, #9c9c9c, #e9e9e9);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  border: 1px solid #9c9c9c;
  border-radius: 100px;
  background-color: aliceblue;
  margin: 0px 5px 0px 5px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.title h2,
.title p {
  margin: 0;
  width: 100%;
  height: 100%;
}

.data {
  color: white;
}

.dots {
  margin: 15px;
}

.cat-container {
  width: 100%;
  height: 100%;
}

.cat-container img {
  width: 290px;
  height: 240px;
}

main {
  display: flex;
  flex-direction: column;
}

.interaction-svg-container {
  width: 100%;
  height: 100%;
}
.interaction-svg-container svg {
  margin: 16px 8px 0px 16px;
}

article {
  margin: 10px;
}
article p {
  margin: 10px 10px 30px 10px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .main-container {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
