article {
  border: solid 2px rgba(128, 128, 128, 0.5);
  width: 30vw;
  height: auto;
  border-radius: 1% 1% 1% 1%;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  border-bottom: solid 2px rgba(128, 128, 128, 0.5);
  width: 100%;
  height: auto;
  border-radius: 1% 1% 0 0;
}

h1 {
  margin: 0px;
  padding: 5px 10px;
  width: 100%;
}

.description {
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
}

.description p {
  margin: 0px;
  padding: 5px 10px;
}

.items p {
  margin: 0;
  padding: 10px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
}

.links {
  padding: 15px 5px;
}

a {
  color: blue;
  padding: 0px 5px;
}

a:nth-child(2) {
  position: relative;
  left: 5px;
}
